{% extends "layout.html" %}
{% block content%}

<div class="container">
    <form action="/show" method="POST">
        <p><b>元になる関数 </b></p>
        <div class="radio-inline">
            <label>
                <input type="radio" name="function" value="sin" checked>sin
            </label>
        </div>
        <div class="radio-inline">
            <label>
                <input type="radio" name="function" value="cos">cos
            </label>
        </div>

        <div class="form-group">
            <label>訓練データ数</label>
            <input type="text" id="num" name="num" data-slider-min="10" data-slider-max="100" data-slider-step="1" data-slider-value="20">
        </div>
        <button type="submit" class="btn btn-default">send</button>
    </form>

</div>

{% endblock %}
